@font-face {
  font-family: "HomepagebaukastenBold";
  src: url("./src/fonts/homepagebaukasten-bold-font/HomepagebaukastenBold-ZXvm.ttf");
}
@font-face {
  font-family: "IbarraRealNovaItalic";
  src: url("./src/fonts/Ibarra_Real_Nova/IbarraRealNova-Italic-VariableFont_wght.ttf");
}