.icon {
  padding: 8px;
  
  width: 22px;
  
}

.link {
  cursor: pointer;
  z-index: 100;
}

.text {
  font-family: HomepageBaukastenBold;
  font-size: 0.9em;
  letter-spacing: 1px;
  user-select: none;
}

.mail,
.phone {
  font-family: HomepageBaukastenBold;
  color: black;
  cursor: pointer;
  font-size: 0.9em;
}

.mail:hover,
.phone:hover {
  color: black;
}

.mail {
  margin-bottom: 0;
}
.phone {
  margin-top: 0;
  margin-bottom: -20px;
}
