.wrapper {
  height: 60vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerWrapper {
  width: 80vw;
  height: 60vh;
  position: relative;
}

.colorCube {
  width: 50vw;
  height: 30vh;
  position: absolute;
  right: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleWrapper{
  position: relative;
  margin-top: -50px;
}
.titleOverLine{
  position: absolute;
  left:2px;
  height: 2px;
  width: 20px;
  background-color: black;
}

.title {
  margin-top: 15px;
  font-family: HomepageBaukastenBold;
  position: absolute;
  text-transform: uppercase;
  font-size: 2em;
  line-height: 33px;
  letter-spacing: 0.16em;
}

.productsListContainer{
  position: absolute;
  display: flex;
  width: 30vw;
  margin-top: 100px;
  flex-direction: column;
  font-size: 1.3em;
  letter-spacing: 0.16em;
  line-height: 35px;
  align-items: left;
  justify-content: center;
  font-family: HomePageBaukastenBook;
  text-transform: uppercase;
}

.imageGroupHolder {
  position: absolute;
  height: 100%;
  width: 40%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-left: 10vw;
}

.imageWrapper {
  position: relative;
  width: 15vw;
  height: 45vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  border: 1px solid black;
  justify-content: center;
}

.image{
  position: absolute;
  left:-50%;
}

.line {
  height: 3px;
  width: 14vw;
  background-color: black;
  margin-bottom: 2vh;
}
