.container{
  position: absolute;
  right: -6%;
  top: -4vh;
}

.firstStartBackdrop{
  position: absolute;
  z-index: 1000;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color: white;
}



/* .container {
  
}
.logo {
}
.circle {
}
.subtitle {
}
.title {
}
.italianColors {
}
.titleFlower {
} */
