.wrapper {
  height: 70vh;
  width: 100vw;
  position: relative;
  margin: 0px;
  top: -15vh;
  background: linear-gradient(180deg, lightgray 80%, white 20%);
  z-index: 100;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;

}



.colorCube {
  position: absolute;
  width: 70%;
  height: 60%;
  bottom: 0;
}

.titleWrapper {
  position: absolute;
  width: 100%;
  bottom: -10px;
}

.title {
  font-family: HomepageBaukastenBold;
  text-transform: uppercase;
  font-size: 1.5em;
  line-height: 33px;
  letter-spacing: 0.16em;
}

.imageWrapper {
  position: relative;
  width: 70%;
  height: 280px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -60px;
}

.imgWrap {
  width: 150%;
  transform: translateY(200px);
}

@media (max-width: 560px) {
  .image {
    transform: translateX(-50px);
  }
  .colorCube {
    height: 70vw;
  }
}

.image {
  position: absolute;
  top: 40%;
}

.line {
  margin-top: 10px;
  height: 3px;
  width: 14vw;
  background-color: black;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

.productTitle:hover {
  /* color: rgb(71, 71, 71); */
  font-weight: bold;
}
