.productImg {
  width: 100vw;
  position: relative;
  overflow: hidden;
  height: 100vh;
  background: linear-gradient(0deg, #bdbdbd68 30%, #eea12f44 200%);
}

.secondPage{
  height: 200vh;
  width: 100%;
  position: relative;
  background-color: white;
  overflow: hidden;
}