

.container {
  z-index: 2;
}

.menu {
  background: white;
  position: fixed;
  
  margin-top: 10px;
  width: 180px;
  height: 180px;
}

.menuItem {
  padding: 25px 5px 25px 50px;
  font-family: HomepagebaukastenBold;
  font-size: 0.6em;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  text-align: right;
}

.menuItem:hover {
  background: linear-gradient(0deg, #463f3f10 40%, #4d3c3c39 100%);
}


.active{
  font-family: HomepagebaukastenBold;
  font-size: 1.5em;
}

.button,
.button:hover,
.button:active,
.button:focus {
  font-family: HomepagebaukastenBold;
  font-style: normal;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 900;
  line-height: 11px;
  letter-spacing: 0.16em;
  text-align: left;
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
  outline: none;
  border: none;
  padding-bottom: 4px;
  border-bottom: 1px solid black;
  outline: 0;
}
