.textWrapper {
  margin-top: 200px;
  width: 80%;
  position: relative;
}

.title {
  font-family: HomepagebaukastenBold;
  letter-spacing: 0.16em;
  font-size: 1.5em;
  text-transform: uppercase;
}
.titleWrapper {
  margin-bottom: 5vh;
}
.descriptionTitle,
.ingredientsTitle,
.conservationTitle {
  font-family: HomepagebaukastenBold;
  letter-spacing: 0.16em;
  line-height: 11px;
  text-transform: uppercase;
  position: relative;
  bottom:1vh;
}
.description,
.ingredients,
.conservation {
  font-family: HomepagebaukastenBook;
  letter-spacing: 0.16em;
  line-height: 11px;
}
.descWrapper,
.ingredWrapper,
.consWrapper {
  margin-top: 4vh;
}


.imgsWrapper{
  width: 90%;
  position: relative;
  bottom: 30px;
  display: flex;
  justify-content: space-between  ;
}
.imgsWrapperMobile{
  width: 90%;
  position: relative;
  bottom: -100px;
  display: flex;
  justify-content: space-between  ;
}

.imgLeft,
.imgCenter,
.imgRight{
  width: 300px;
  height: 300px;
  background-color: aquamarine;
}