.textWrapper {
  width: 50%;
  height: 100%;
  position: relative;
}

.textBody{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -50px;
}

.fluidImg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.title {
  font-family: HomepagebaukastenBold;
  letter-spacing: 0.16em;
  font-size: 1.8em;
  text-transform: uppercase;
}
.titleWrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25%;
}
.descriptionTitle,
.ingredientsTitle,
.conservationTitle {
  font-family: HomepagebaukastenBold;
  font-size: .8em;
  letter-spacing: 0.16em;
  line-height: 11px;
  text-transform: uppercase;
  position: relative;
  bottom:1vh;
}
.description,
.ingredients,
.conservation {
  margin-top: -5px;
  font-family: HomepagebaukastenBook;
  font-size: .9em;
  letter-spacing: 0.16em;
  line-height: 19px;
  text-align: justify;
}
.descWrapper,
.ingredWrapper,
.consWrapper {
  margin-top: 4vh;
}
