.navbar {
  position: relative;
  opacity: .95;
  width: 100%;
  height: 60px;
  background-color: white;
  
}

.homeButton{
  position: fixed;
  z-index: 2;
  top: 15px;
  left: 20px;
  height: 30px;
}
