.header {
  margin: 20px;
  padding:10px;
}

.body {
  margin: 20px;
}

.text{
  margin-top: 0;
  font-size: .8em;
  font-family: HomepageBaukastenBook;
  text-align: justify;
}

.productCard {
  transition: transform 0.3s;
}

.productCard:hover {
  transform: translateY(-300px);
  transition: transform 0.3s;
}
