.container {
  position: absolute;
  overflow: visible;
  height: 300px;
  top: 5vh;
  left: 8vw;
  transform: scale(1.1);
  border-radius: 100%;
  backdrop-filter: blur(10px);
  z-index: 9999;
}

.firstStartBackdrop {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
}

@media (max-width: 1200px) {
  .container {
    transform: scale(0.9) translateX(-3vw) translateY(-3vh) ;
  }
}
@media (max-width: 1100px) {
  .container {
    transform: scale(0.8) translateX(-5vw) translateY(-5vh) ;
  }
}
/*
.logo {
}
.circle {
}
.subtitle {
}
.title {
}
.italianColors {
}
.titleFlower {
} */
